.auth_box{
  width:fit-content;
  margin: 0 auto;

  > div{
    margin-bottom:7px;
    justify-content: space-between;

    p{
      text-align: left;
    }
  }
}
.login_btn{
	width:200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
  background: rgba(1, 117, 250, 0.856);
  color:#fff;
	cursor: pointer;
}
.google_img{
	width:20px;
}
.logout_btn{
  width:100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
  background: #ff7878;
  color:#fff;
	cursor: pointer;
}